name: CRAFTVN Join Bot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install

      - name: Start bot
        env:
          SERVER_HOST: node1.lumine.asia
          SERVER_PORT: 25675
        run: |
          # 43200s = 12 tiáº¿ng
          timeout 43200s npm start || true
          
