name: CRAFTVN Join Bot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install

      - name: Start bot
        env:
          SERVER_HOST: craftvn.net
          SERVER_PORT: 25565
        run: |
          # 43200s = 12 tiếng, hết giờ thì nó dừng, có lỗi cũng kệ
          timeout 43200s npm start || true
          
