name: CRAFTVN Bot Sursmp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install

      # Chạy bot rất lâu, dùng timeout cho chắc
      - name: Start bot
        run: |
          # 43200s = 12 tiếng, thích thì tăng/giảm
          timeout 43200s npm start || true
          
