name: CRAFTVN Bot Sursmp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install mineflayer mineflayer-pathfinder mineflayer-auto-eat mineflayer-pvp

      - name: Start bot
        env:
          SERVER_HOST: play2.eternalzero.cloud
          SERVER_PORT: 27199
        run: |
          timeout 43200s npm start || true
          
